@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafbfc;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

*{
    outline: none !important; 
}

.form-control:focus{
    box-shadow: none;
}


textarea.form-control {
    height: auto !important;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.section-heading{
    margin-bottom: 20px;
    
}
.top{
    padding-top: 5px;
    text-align: center;
}
.section-heading h1{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.section-heading h2{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

small{
    font-size: 11px !important;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: inherit;
    padding-left: inherit;
    background: #fff !important;
    border: none;
    border-radius: 0;
    box-shadow: 0 1px 8px 1px rgb(58 58 62 / 15%);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

#dropdownMenuButton {
    padding: 8px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #00000003;
    background: #f7f8fb;
}

.bg-admin{
    background-color: #cbe5ff8c;
    padding: 2px 5px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 600;
}

.divider{
    position: relative;
}

.divider:after {
    position: absolute;
    content: '\f715';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    transform: rotate(-38deg);
    right: -18px;
    padding-right: 10px;
    color: #333333;
    font-size: 12px;
    top: 10px;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

.collapse-btn {
    color: #333 !important;
    background-color: transparent;
    border-color: transparent;
}

#sidebar {
    margin-left: 0px;
    background-color: #044d6b;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    color: #fff;
    max-width: 224px;
    min-width: 224px;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -224px;
}


#sidebar li {
    margin-bottom: 12px;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar .heading a{
    font-size: 16px !important;
    font-weight: 600;
    letter-spacing: 2px;
    color: white !important;
}

#sidebar .heading a:hover{
    color: black !important;
}

.sidebartooglebtn{
    color: black;
    margin-left: 20px;
    padding: 0px;
    background-color: transparent !important;
    border-color: transparent !important;
}

.sidebar-header img{
    width: 200px;
}

#sidebar .sidebar-header {
    background: #00000057;
    padding: 15px;
}

#sidebar h3{
    font-size: 20px;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    padding: 10px;
    font-weight: bolder;
    margin-bottom: 0px;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    position: sticky;
    top: 60px;
}

#sidebar ul li a {
    color: white;
    padding: 10px;
    font-size: 15px;
    display: block;
}

#sidebar ul li a:hover {
    color: #044d6b;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.dropdown-menu::after{
    content: "";
    border-width: 8px 6px;
    border-color: transparent transparent #efefef transparent;
    border-style: solid;
    display: inline-block;
    position: absolute;
    right: 13px;
    top: -16px;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

.dropdown-sidenav{
    background-color: #04415b;
}

.dropdown-sidenav li{
    margin-bottom: 0px !important;
}

ul.dropdown-sidenav li a:hover{
    background-color: transparent !important;
    color: white !important;
    letter-spacing: 1px;
}

.dropdown-sidenav li a:before {
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    left: 0px;
    padding-right: 10px;
    color: #ffffffc2;
    font-size: 12px;
    top: 10px;
}


.dropdown-option{
    flex: 0 0 auto;
    margin-top: 4px;
}

.dropdown-txt{
    white-space: nowrap;
    flex: 1 1 auto;
    font-weight: 500;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}


/*navabar*/
.dropdown-menu{
    right: 0px;
    top: 40px;
    border-radius: 0px;
    border: none;
    padding: 0px;
    left: unset !important;
    box-shadow: 0px 6px 10px rgb(0 0 0 / 10%);
}

.dropdown-toggle::after{
    display: none;
}

a[aria-expanded="true"]{
    background-color: transparent;
}

.dropdown-menu a+a{
    border-top: 1px dashed #00000029;
}

.dropdown-item{
    font-size: 14px;
    padding: 10px 16px;
}

.dropdown-item:hover {
    color: white;
    background-color: #0a445b;
}

/*side bar*/
.heading{
    background-color: #0000001a;
}

/*footer*/
.clearfix{
    padding: 6px 10px !important;
    color: black;
    position: fixed;
    bottom: 0px;
    z-index: 121;
    font-size: 15px;
    background-color: #fafbfc !important;
    width: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1) !important;
    border-left: 1px solid gainsboro;
}

.footer-link{
    font-size:14px;
}

.clearfix a{
    font-weight: 600;
}


button.submitbtn1{
    display: flex;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    color: #ffffff;
    background-color: #00658e;
    border: none;
    padding: 0px 9px;
    transition: all .4s ease;
}

.inputsearch{
    position: relative;
}

select.selecttype {
    width: 150px;
    margin-right: 18px;
    height: 38px;
    padding: .375rem .75rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.search-section label {
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 800;
    margin-right: 14px;
}

.section-padding{
    padding: 50px 0px; 
}

/*search result*/
#searchresult select.selecttype{
    width: 100%;
}

#searchresult .inputsearch{
    width: 100%;
}

.inputsearch .form-control{
    margin-right: 18px;
    height: 38px;
    padding: .375rem .75rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}

.section-content {
    padding: 28px;
    background-color: white;
    border-radius: 1px;
    box-shadow: 0 1px 15px 1px rgba(208,201,243,.5);
}

button.seachformbtn1 {
    background-color: #00658e;
    font-size: 14px;
    border: 0px;
    padding: 6px 12px;
    color: white;
    margin-top: 20px;
    border-radius: 4px;
}

.txt-end{
    text-align: end;
}

.section-content label{
    font-weight: 700;
}


/*data tables info*/
.custom-select-sm, .form-control-sm{
    border-radius: 0px;
}

.dataTables_wrapper .dataTables_paginate {
    padding-top: 10px;
}

#table_id_length select{
    padding: 4px 0px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: #464E5F;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #E5EAEE;
    border-radius: 0px;
}

table.dataTable{
    margin-top: 12px !important;
}

#userdatatables th {
    text-transform: uppercase;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
    position: relative;
    border-bottom: none !important;
    font-size: 14px;
    border-left: 0px;
    border-top: 0px;
}

#userdatatables_length, div.dataTables_wrapper div.dataTables_info{
    text-align: start !important;
}

div.dataTables_wrapper div.dataTables_info{
    font-size: 13px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #1e92cf;
    border-color: #1e92cf;
}

.page-link {
    padding: 6px 10px;
    font-size: 14px;
}

#userdatatables td{
    font-size: 13px;
    padding: 0.70rem !important;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #1111110d !important;
}

.section-content2{
    background-color: white;
    border-radius: 1px;
    box-shadow: 0 1px 15px 1px rgba(208,201,243,.5);
}

tr.even {
    background-color: #fafbfc !important;
}

h2.sub-title{
    font-size: 18px;
    margin: 0px;
    color: #666;
    font-weight: 600;
}

.section-content-header{
    border-bottom: 1px solid #44444412;
    padding: 10px 20px;
}

.section-content-body{
    padding: 26px;
}

.actionbtn a{
    line-height: 24px;
    width: 56px;
    height: 24px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid;
    font-size: 12px;
    display: inline-block;
}

a.option-color1{
    color: white;
    background-color: #1e92cf;
}

a.option-color2{
    color: #fff;
    margin-right: 4px;
    background: #8FBA6E;
}

a:hover.option-color1{
    color: #1e92cf;
    border: 1px solid #1e92cf;
    background-color: #fff;
}

a:hover.option-color2{
    color: #8FBA6E;
    border: 1px solid #8FBA6E;
    background: #ffff;
}


.color3{
    color: #f56a6c;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background: #044d6b !important;
    color: #fff !important;
}


/* prfile form */

.profile-forms .nav-pills .nav-link{
    color: #898b8c !important;
    padding: 8px 12px !important;
    border-bottom: 2px solid transparent;
    font-size: 16px;
    margin-right: 30px;
    background-color: white !important;
    transition: 0.3s;
    border-radius: 0px;
}

.profile-forms .nav-pills .nav-link.active{
    color: #212121 !important;
    background: white;
    border-bottom: 2px solid #0080b5;
}

.controls{
    padding: 30px 35px;
}

.form-control-placeholder {
    position: absolute;
    top: 7px;
    left: 24px;
    transition: all 200ms;
    color: #656565;
    font-size: 15px;
    background-color: white;
}

.custom-input {
    margin-bottom: 34px !important;
    z-index: 1;
    border-radius: 0px;
    height: 44px !important;
    line-height: 44px !important;
    position: relative;
    transition: all 200ms;
    background-color: #2a85e400;
}

.form-control-placeholder{
    font-size: 90%;
    transform: translate3d(0, -18px, 0);
    opacity: 1;
    padding: 0px 6px;
    z-index: 12;
    transition: all 200ms;
    color: #717171;
    font-weight: 500;
}

.custom-input input::-webkit-outer-spin-button,
.custom-input input::-webkit-inner-spin-button {
    display: none;
}

.formheading{
    font-size: 16px;
    font-weight: 600;
    color: #333;
    text-align: justify;
    margin-bottom: 6px;
}

#profile-form .file-upload {
    height: 160px;
    width: 160px;
    box-shadow: 0 0.5rem 1.5rem 0.5rem rgb(0 0 0 / 4%);
}

#addnewproduct .popupform .modal-body {
    padding: 24px;
}

.addimage {
    position: absolute;
    top: 0px;
    height: 158px;
    object-fit: cover;
}

.file-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 100%;
    max-width: 100%;
    height: 316px;
    padding: 5px 10px;
    font-size: 1rem;
    text-align: center;
    color: #ccc;
    margin-top: 9px;
}

a.image-action{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    box-shadow: 0px 9px 16px 0px rgba(33, 33, 33, 0.25) !important;
    color: #464E5F;
    background-color: #ffffff;
    border-color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}

.add-image{
    position: absolute;
    top: 10px;
    right: -14px;
}

.remove-image{
    position: absolute;
    bottom: 10px;
    right: -14px;
}

.profile-upload{
    position: relative;
}

input.uploadprofile {
    opacity: .01;
    width: 30px;
    right: 0px;
    height: 32px;
    position: absolute;
    border-radius: 50%;
}

button.formsubmitbtn {
    background-color: #044d6b;
    border: 1px solid #044d6b;
    color: white;
    margin-left: 12px;
    width: 100px;
    outline: none !important;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
}


button.formsubmitbtn1 {
    background-color: #f56a6c;
    border: 1px solid #f56a6c;
    color: #fff;
    padding: 8px 12px;
    font-size: 15px;
    border-radius: 5px;
}

button.formsubmitbtn2 {
    background-color: #75a154;
    border: #75a154;
    color: white;
    margin-left: 12px;
    padding: 8px 12px;
    outline: none !important;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 600;
}


/*view quick quotes*/

#viewquickquotes .modal-dialog {
    max-width: 660px;
}

#viewquickquotes .popupform h5 {
    font-size: 24px;
    text-transform: uppercase;
}

#viewquickquotes .popupform .form-control:focus{
    border: 1px solid #ced4da !important;
}

#viewquickquotes .popupform label{
    font-size: 13px;
    color: #212529b5;
    font-weight: 600;
    margin-bottom: 3px;
}

#viewquickquotes .popupform .modal-body{
    padding: 30px;
}

::-webkit-input-placeholder {
 font-size: 13px;
}

#viewquickquotes .contact-form{
    padding: 0px;
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;
    border: 0px;
}

.popupform h5{
    font-size: 24px !important;
    text-align: center;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
}

#viewquickquotes .form-control {
    font-size: 14px;
    border-radius: 0px;
    margin-bottom: 30px !important;
}

#viewquickquotes .custom-input{
    height: 40px !important;
    line-height: 40px !important;
}

.popupform .modal-header{
    border: none;
    padding: 0px;
    padding-top: 12px;
}

.popupform label{
    color: #495e96;
    margin-bottom: 6px;
}

.popupform .modal-body{
    padding: 2.5em 3em;
}

.popupform .modal-header .close {
    margin: 0px !important;
    padding: 0px !important;
    position: relative;
}

.popupform .form-control:focus{
    box-shadow: none !important;
    border: none !important;
}

.addimage{
    width: 100%;
    height: 100%;
}

.popupform .modal-header .close span{
    position: absolute;
    top: 10px;
    width: 36px;
    font-size: 30px;
    right: 18px;
    font-weight: 100;
    opacity: 1;
    line-height: 36px;
    border-radius: 50%;
    cursor: pointer;
    color: black;
    height: 36px;
    text-align: center;
    box-shadow: 0 0 11px 3px rgb(41 12 101 / 10%);
}

#viewquickquotes .form-control {
    font-size: 14px;
    border-radius: 0px;
}

#viewquickquotes textarea.form-control{
    height: auto !important; 
}

.modalsubmitbn button{
    padding: 4px 16px;
    border-radius: 2px;
}

/*customs tabs*/
.profile-forms .nav-pills .nav-link{
    color: #898b8c !important;
    padding: 8px 12px !important;
    border-bottom: 2px solid transparent;
    font-size: 16px;
    margin-right: 30px;
    background-color: white !important;
    transition: 0.3s;
    border-radius: 0px;
}

.profile-forms .nav-pills .nav-link.active{
    color: #212121 !important;
    background: white;
    border-bottom: 2px solid #0080b5;
}

.controls{
    padding: 30px 35px;
}

.section-shadow {
    box-shadow: 0 5px 8px #ececec;
}

/*share access*/
.access-info .nav-pills .nav-link.active{
    color: #ffff !important;
    background: #044d6b !important;
    border-bottom: 2px solid #666;
    border-radius: 0px;
}

.access-info .nav-pills .nav-link {
    color: #898b8c !important;
    padding: 8px 20px !important;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    font-weight: 700;
    background-color: #ffffff !important;
    transition: 0.3s;
    border-radius: 0px;
}

.access-table .table th {
    border-bottom: 1px solid #dee2e6 !important;
    font-weight: 300;
    font-size: 15px;
}

.access-table  input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.access-info-02 {
    padding: 23px 20px;
}


/*add services*/
#addnewproduct .modal-dialog {
    max-width: 700px;
}

.file-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 100%;
    max-width: 100%;
    height: 316px;
    padding: 5px 10px;
    font-size: 1rem;
    text-align: center;
    color: #ccc;
    margin-top: 9px;
}

.file-upload-wrapper .card.card-body .file-upload-message {
    position: relative;
    top: 33px;
    transform: translateY(-50%);
}

.file-upload-wrapper .card.card-body input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 5;
}

.file-upload-wrapper .card.card-body .btn.btn-sm.btn-danger {
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 7;
    top: 10px;
    right: 10px;
    transition: all .15s linear;
}

.file-upload-message .fas{
    font-size: 50px;
    margin-bottom: 6px;
}

.file-upload-message p{
    margin: 0px;
}

#addnewproduct .clintquotes{
    margin-top: 6px !important;
    text-align: end;
    width: auto;
    font-size: 12px;
}

.quotes{
    position: relative;
}

.price-field{
    position: relative;
    display: flex;
    margin-left: auto;
    border: 1px solid #ced4da;
}

.price-field2 {
    font-size: 20px;
    margin: 3px 8px;
}

.price-field .form-control {
    border: none;
}

.price-field .form-control:focus{
    border: none !important;
}

#addnewproduct .price-field2 {
    font-size: 20px;
    padding: 3px 12px;
    margin:0px !important;
    background: #f0f0f0;
}

#imagepreview{
    position: absolute;
    top: 0px;
    height: 313px;
    object-fit: cover;
    width: 100%;
}

#addproduct .ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners{
    height: 116px;
}


/*dashboard info*/
.bg-dashboard {
    background: #ffffff;
    border-top: 1px solid #00000026;
    display: block;
    font-weight: 700;
    width: 100%;
    color: #044d6b;
    border-radius: 0px 0px 10px 10px;
    padding: 3px;
    text-align: center;
    font-size: 14px;
}

.dashboard-content{
    padding: 32px 20px;
    background-color: white;
    border-radius: 3px;
}

.dashboard-details{
    border-radius: 5px;
    box-shadow: 0 1px 15px 1px rgba(208,201,243,.5);
}

.dashboard-img img{ 
    width: 58px;
    margin-right: 30px;
}

.dashboard-txt h3{
    font-size: 20px;
    font-weight: 600;
}

.dashboard-txt p{
    margin-bottom: 0px;
}

/* customer form  */
.mmt{
    margin-top: 40px;
    color: #21658e;

}


.btn1{
    background-color: #21658e;
    color: #fff;
}

.btn:hover{
    /* border-color: #21658e; */
    border: 1px solid #21658e;
    background-color: #fff;
    color: #21658e;
}

.pgtbl{
    float:right
}

.txtclr{
    color: #21658e;
}
.pddtop{
    padding-top: 10px;
    color: #21658e;
}